<h1>The Security Team</h1>
<h2>Michelle Beach</h2>

<p>
  While working towards her M.S. in Software Engineering, Michelle took a summer course in Computer Crime and Forensics,
  and discovered a passion for cyber security. She followed Computer Crime and Forensics with Information Security
  Principles, and Information Warfare. She is currently on track to graduate in December with a Master of Science in
  Software Engineering and a Graduate Certificate in Information Assurance and Security. Michelle currently works as a
  UI/UX developer with JavaScript on the AngularJS framework, HTML, CSS, NodeJS, and JQuery.
</p>
<p>
  Michelle is very detail oriented and has a strong work ethic. These qualities, along with the desire to continue
  learning will contribute greatly to the success of this project. Michelle will be responsible for the development of
  the database features.
</p>

<h2>Deepthi Gangala</h2>

<p>
  Deepthi is currently obtaining a Graduate Certificate in Information Assurance and Security. Deepthi has experience
  has a UI/UX Developer, and her skills and experience include use of JAVA applications, JavaScript on AngularJS
  Framework, HTML and CSS. Deepthi’s roles and responsibilities for this project are related to front end development.
</p>

<h2>Aaron Hein</h2>

<p>
  While working toward an M.S. in Computer Science, Aaron has taken 522 (Information Security Principles), 715 (Network
  Systems Security), and 824 (Secure Database Systems). He also intends to earn a Graduate Certificate in Information
  Assurance and Security. Additionally, Aaron has worked as an IT professional for 15 years on various Financial
  Services and Payment Card systems for multiple retailers. Aaron’s work on these projects included many security
  aspects like PCI.
</p>
<p>
  In addition to his professional and academic qualifications, Aaron’s personal characteristics that will help make this
  project successful include a comfort presenting and teaching in a group setting. We can use this when it comes time
  for presentations. Additionally, Aaron will work hard to complete tasks on time and learn the necessary material.
  Aaron will be responsible for development related to the login feature, and is considered our Ruby on Rails subject
  matter expert.
</p>

<h2>Catrina Palmer</h2>

<p>
  This team member has an undergraduate degree in Interdisciplinary Studies, concentrating in Project Management and
  Information Technology. She has little experience in database, programming and network. Catrina works in a Project
  Management Office and has been exposed to several projects related to security. As a result, she has taken the
  initiative to gain additional knowledge by obtaining a Graduate Certificate in Information Assurance and Security. She
  is scheduled to graduate December 2016. She has acquired formal training in “Information Security Principles”,
  “Information Warfare”, “Security for Manager”, “Database”, “Network Security” and is currently enrolled in “Internet
  Security”. Although her experience is limited, she is eager to learn, willing to work with her team throughout the
  project life cycle and will contribute to research requirements for this project. Catrina is assigned with data and
  collections requirements, research, tracking communication, maintaining documentation and project collaboration.
</p>

<h2>David Rodriguez</h2>

<p>
  This team member is considered the network subject matter expert for the project. David is responsible for the
  production site development and the protected server development. He has done an extensive amount of work towards the
  project. Currently, David is the network manager for the College of Social Work-University of South Carolina. He has
  over 20 years in Information Technology. He has a strong foundation in servers, learning management, content
  management, database and security. He has skills related to programming and enterprise software. David is working
  towards the Graduate Certificate in Information Assurance and Security. He has already obtained the Information
  Assurance Specialization Certification. David has obtained copious training related to being a Global Leader in
  Cybersecurity Training. He has a strong foundation in computer science, information technology and security.
</p>