<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <div>

    <%= link_to image_tag("padlock.jpg", alt: "Rails logo"),
                '/assets/images/padlock.jpg'%>

  </div>
  <h1>A Blog on Web Application Security</h1>
<h2> This is the home page for our CSCE 813 group project </h2>

<%= render :partial => @posts %>

<% if current_user %>
    <div>
      <p><%= link_to 'New Post', new_post_path %></p>
    </div>
<% else %>



<% end %>
  </div>
