<footer class="footer">
  <small>
    Styling based on the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><a href="https://www.owasp.org/index.php/Main_Page">Security Community</a></li>
    </ul>
  </nav>
</footer>